<section class="container-fluid">
  <div class="row m-0 gx-2">
    <app-tools class="col mb-2"></app-tools>
    <div class="col-lg-7">
      <div class="titleEdit p-1">
        <h3>Eventos del usuario</h3>
      </div>
      <div
        *ngFor="let evento of listaEventos"
        class="container-fluid containerEvento my-2 mx-0 w-100">
        <div class="row">
          <div class="col-md p-2">
            <div class="d-flex dateContainer">
              <div class="dateStyle">
                <p class="date">{{ evento.date | date }}</p>
              </div>
              <div class="interaction d-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="18"
                  fill="currentColor"
                  class="bi bi-eye"
                  viewBox="0 0 16 16">
                  <path
                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                  <path
                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                </svg>
                <p>{{ evento.interaction }}</p>
              </div>
            </div>
            <div>
              <h5>{{ evento.name }}</h5>
              <p class="organizador">Organizado por ti</p>
            </div>
            <div>
              <p>{{ evento.description }}</p>
            </div>
            <div class="location">
              <a
                class="map-link"
                target="_blank"
                [href]="getMapLink(evento.location)">
                <svg
                  class="emptyIcon"
                  xmlns="http://www.w3.org/2000/svg"
                  width="23"
                  height="23"
                  fill="currentColor"
                  class="bi bi-geo-alt"
                  viewBox="0 0 16 16">
                  <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                  <path
                    d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="23"
                  height="23"
                  fill="currentColor"
                  class="bi bi-geo-alt-fill icon-alternate"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                </svg>
              </a>
              <p>{{ evento.location }}</p>
            </div>
            <div>
              <div class="d-flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="23"
                  height="23"
                  fill="currentColor"
                  class="bi bi-ticket-perforated"
                  viewBox="0 0 16 16">
                  <path
                    d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z" />
                  <path
                    d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z" />
                </svg>
                <p class="px-1">
                  Precio de entrada: $ {{ evento.ticketPrice }}
                </p>
              </div>

              <p class="costoService">
                *El costo de servicio es de $500 y esta incluido en el valor de
                la entrada
              </p>
              <div class="botones">
                <button
                  class="botonDetalles"
                  routerLink="/update-evento/{{ evento._id }}"
                  role="button">
                  Editar
                </button>
                <button
                  class="botonDetalles mx-2"
                  (click)="eliminarEvento(evento._id)"
                  role="button">
                  Eliminar
                </button>
              </div>
            </div>
          </div>
          <div class="col-md m-0 p-0">
            <img
              class="images h-100"
              [src]="imageUrlPrefix + evento.image"
              alt="" />
          </div>
        </div>
      </div>
    </div>

    <app-proximos-eventos class="col mb-2"></app-proximos-eventos>
  </div>
</section>
