@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.titleDestacados{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.titleDestacados h3{
    margin: 0;
    padding: 5px;
}