<div class="container-fluid mb-3">
  <div class="title">Crear un nuevo Evento</div>
  <div class="content">
    <form [formGroup]="form" (submit)="submit()" enctype="multipart/form-data">
      <div class="event-details">
        <div class="input-box">
          <span class="details">Título del evento</span>
          <input formControlName="name" type="text" required maxlength="40" />
        </div>
        <div class="input-box">
          <span class="details">Fecha del evento</span>
          <input formControlName="date" type="date" required />
        </div>
        <div class="input-box">
          <span class="details">Ubicación del evento</span>
          <input
            formControlName="location"
            type="text"
            required
            maxlength="50" />
        </div>
        <div class="input-box">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Descripción del evento</label
          >
          <textarea
            class="form-control"
            formControlName="description"
            id="exampleFormControlTextarea1"
            rows="3"
            maxlength="100"
            required></textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Imagen</label>
          <input
            formControlName="image"
            type="file"
            (change)="fileChosen($event)" />
        </div>
        <div class="form-check">
          <input
            formControlName="ticket"
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
            [(ngModel)]="isChecked" />
          <label class="form-check-label" for="flexCheckDefault"
            >Venta de entradas</label
          >
        </div>
        <div class="input-box">
          <span class="details">Precio de la entrada</span>
          <input
            formControlName="ticketPrice"
            type="text"
            placeholder="Ingresa un precio "
            maxlength="6"
            required />
        </div>
        <div class="input-box">
          <span class="details">Cantidad de entradas disponibles</span>
          <input
            formControlName="availableTickets"
            type="text"
            required
            maxlength="6" />
        </div>
        <div class="input-box">
          <span class="details">Categoría del evento</span>
          <select formControlName="category" class="form-select" required>
            <option value="" disabled selected>Seleccionar categoría</option>
            <option value="general">Entretenimiento general</option>
            <option value="music">Música</option>
            <option value="food">Gastronomía</option>
            <option value="learning">Educación</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <input class="botonDetalles w-100" type="submit" value="Crear Evento" />
      </div>
    </form>
  </div>
</div>
